<div class="box">
    <h1>Article 1</h1>
    <figure>
        <img src="./img/10-dollars-1240590-640x480.jpg" alt="description of image" />
        <figcaption>(Dollar Coin)</figcaption>
    </figure>
    <p>Money is a dependent variable that affects the many decisions people make in their lives, ranging from collegiate enrollment
        and job decisions to simple/major investments. Inadvertently or intentionally we make some of our biggest life decisions
        in accordance with money. But what makes money so fascinating? Perhaps it's the idea that these multi-colored bills
        and coins in our wallets allow us to set occupational goals for future successes or squander them. There seems to
        be more to the face-value of a dollar bill than at first glance. Currency, money, wealth and sometimes power, are
        all words used to describe the same thing; a certain acquisition of financial stability to the point of security
        and comfort. Now money in its physical form is paper and coins, which have a higher representation as a standard
        of currency within a region. This definition highlights the conventions of money in an economical way. However, money
        on a more intimate level comes to represent something entirely different to mankind. Happiness can't be bought, but
        show me a sad person buying a new Mercedes or BMW. The relationship between money and its owner is in how it's handled.
        Money can be a gateway toward happiness and financial safety, a grave into debt and IOUs, or a lock and safe for
        the more greed-driven. The value of money changes in the hands of its possessor but not in a physical manner, but
        a metaphysical one. As an abstract value money is infinitely malleable, represented as a symbolic entity of power,
        greed, happiness, security, potential and status. As purchasing or buying becomes an infinite choice, very similarly
        wealth takes on an infinitely different meaning in the eyes of its beholder. The influence of money is a product
        of its owner and its use. My personal relationship with money is a healthy one and it represents a potential future
        void of financial problems and insecurities. The pot-o-gold is the goal and I'll be damned if I let a leprechaun
        stop me from swimming in it. Not to be confused with greed, money has come to fuel my ambition as it does for most
        people who have financial goals. Unfortunately, many people try to exclude one major component of getting the big
        bucks; putting in the hard work. Effort, and tons of it, is almost synonymous with the acquisition of money. No one
        ever said being rich was going to be easy. Consequently, money represents abstractly the grueling work and dedication
        towards a career choice or investment in life. It has the potential to satisfy the inner goals that self-efficacy
        creates for us. Flipping it on its head, money has the capacity to decimate lives with debt and poverty. We all want
        what is at the end of the rainbow. We're all in a race to see who can acquire the biggest pile faster than the next
        schmuck. But the satisfaction of working for your wealth is paramount in understanding the lessons of money.


        <br><br> Read more: http://elitedaily.com/money/entrepreneurship/the-value-of-money-and-what-it-really-means/</p>
</div>

<div class="box">
    <h1>Article 2</h1>
    <p>GMOs—or genetically modified organisms—are created in a lab by altering the genetic makeup of a plant or an animal. Ninety-two
        percent of Americans believe that GMO foods—widely found in kitchens across the country—should be labeled before
        they’re sold, according to a recent nationally representative survey of 1,004 people from the Consumer Reports National
        Research Center. (Last year our tests discovered that GMOs were present in many packaged foods, such as breakfast
        cereals, chips, baking mixes, and protein bars.)
        <br><br> Read more: http://www.consumerreports.org/cro/magazine/2015/02/gmo-foods-what-you-need-to-know/index.htm</p>
</div>

<div class="box">
    <h1>Article 3</h1>
    <p>By that time, carbon dioxide levels in the atmosphere will have reached 935 parts per million, meaning the gas comprises
        nearly 0.1 per cent of the atmosphere. Earlier this year carbon dioxide levels reached 400 parts per million. If
        by the end of the century carbon dioxide in the atmosphere more than doubles, much of Africa, South America and India
        will endure average daily maximum temperatures of more than 45°C. Jerusalem, New York, Los Angeles and Mumbai could
        see summer temperatures reaching these levels too. London will experience temperatures in the mid 20s and Paris could
        see its July temperatures reaching the low 30s.
        <br><br> Read more: http://www.dailymail.co.uk/sciencetech/article-3125113/Earth-2100-Nasa-maps-reveal-world-need-adapt-rising-temperatures-caused-climate-change.html</p>
</div>